body {
    font-family: Open Sans;
}

.container{
    width: 1900px;
    margin: 0 auto;
}

/* Верхнее нав. меню */

.svg-logo{
    padding: 22px 27px 22px 27px;
}
.svg-search{
    padding: 27px 26px 26px 26px;
    background: #1b1111;
    margin-left: 449px;
}

.nav-header{
    display: flex;
    height: 70px;
    width: 1900px;
    background: #313131;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    margin-right: 35px;
    font-weight: 600;
}

.nav-header-selected{
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding-right: 474px;
    display: flex;
    align-items: center;
}

.nav-items a:hover{
    color: #14B9D5;
}

/* Хедер с кнопками */

.header-section{
    background-image: url("../img/header-imges/header.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 369px;
    background-position: bottom;
}

.header-section-title{
    text-align: center;
    padding-top: 163px;
    font-size: 27px;
    line-height: 37px;
    font-weight: 700;
    color: #FFFFFF;
}

.header-section-button{
    padding-top: 44px;
    display: flex;
    justify-content: center;
}

.header-section-button-color-green, .header-section-button-color-blue{
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: Open Sans;
}

.header-section-button-color-green{
    background: #89CA62;
    padding: 16px 19px 17px 19px;
    margin-right: 20px;
}

.header-section-button-color-blue{
    background: #14B9D5;
    padding: 16px 29px 17px 30px;
    
}

/* Блок MOST POPULAR POSTS */

.section-title{
    font-weight: 700;
    font-weight: bold;
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin-top: 49px;
    margin-bottom: 52px;
}

.items-column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.items-main {
    display: flex;
    justify-content: center;
}
.item-link {
    text-decoration: none;
}

.item-title {
    color: #353A3D;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 54px;
    color: #353A3D;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Блок OUR MOST POPULAR CLIENTS */

.background-image-section{
    background-image: url("../img/our-most-popular-clients/parallax.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid-container-most-popular {
    margin: 0 auto;
    height: 588px;
    width: 1059px;
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 0px 0px;
    
  }
  .title-caption { grid-area: 1 / 2 / 2 / 4; }
  .caption-separator { grid-area: 2 / 2 / 3 / 4; }
  .img-national { grid-area: 3 / 1 / 4 / 2; }
  .img-dryme { grid-area: 3 / 2 / 4 / 3; }
  .img-house { grid-area: 3 / 3 / 4 / 4; }
  .img--journy { grid-area: 3 / 4 / 4 / 5; }
  .img-journy { grid-area: 3 / 4 / 4 / 5; }

  .title-caption{
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    justify-self: center;
    height: 44px;
    padding-top: 106px;
    padding-bottom: 87px;
  }

  .caption-separator{
    width: 60px;
    height: 3px;
    background: #18B4CF;
    justify-self: center;
  }

  .img-national{
      padding-top: 10px;
      padding-left: 85px;
  }

  .img-dryme{
      padding-left: 45px;
  }

  .img-house{
    padding-left: 60px;
  }

  .img-journy{
    padding-left: 60px;
  }

/* Блок TOP RATED */

  .grid-container-inline-image{
    width: 1898px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "img-Lighting img-Kids img-Kid img-Pools img-Hourses img-billionares img-Brazil";
  }
  .img-Lighting { grid-area: img-Lighting; }
  .img-Kids { grid-area: img-Kids; }
  .img-Kid { grid-area: img-Kid; }
  .img-Pools { grid-area: img-Pools; }
  .img-Hourses { grid-area: img-Hourses; }
  .img-billionares { grid-area: img-billionares; }
  .img-Brazil { grid-area: img-Brazil; 
  }

/* Блок HOT NEWS */
  
.grid-holder {
      margin-left: 372px;
      margin-right: 360px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.6fr 1.6fr 1fr;
        gap: 44px 0px;
        grid-template-areas:
          "holder-description-Emirate holder-description-Emirate holder-description-Emirate holder-description-hotel-Spain"
          "holder-description-blocks-Egypt holder-description-blocks-Egypt holder-description-blocks-Maldives holder-description-blocks-Maldives"
          "holder-description-blocks-Tenerife holder-description-blocks-Tenerife holder-description-blocks-Britain holder-description-blocks-Britain"
          "holder-description-hotel-Ireland holder-description-Spain holder-description-Spain holder-description-Spain";
      }
      .holder-description-Emirate { grid-area: holder-description-Emirate; }
      .holder-description-hotel-Spain { grid-area: holder-description-hotel-Spain; }
      .holder-description-blocks-Egypt { grid-area: holder-description-blocks-Egypt; }
      .holder-description-blocks-Maldives { grid-area: holder-description-blocks-Maldives; }
      .holder-description-blocks-Tenerife { grid-area: holder-description-blocks-Tenerife; }
      .holder-description-blocks-Britain { grid-area: holder-description-blocks-Britain; }
      .holder-description-hotel-Ireland { grid-area: holder-description-hotel-Ireland; }
      .holder-description-Spain { grid-area: holder-description-Spain; }

.holder-description-Emirate {display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Emirates-photo content-Emirate";
}
.Emirates-photo { grid-area: Emirates-photo; }
.content-Emirate { grid-area: content-Emirate; }

.content-Emirate{
    background-color: #F9F7F7;
    height: 259px;
}

.content-Emirate h3{
    color: #353A3D;
    padding-top: 41px;
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    text-align: right;
    padding-right: 23px;
}

.content-Emirate p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-right: 23px;
    color: #5B6469;
    text-align: right;
    padding-left: 13px;
}

.holder-description-hotel-Spain{
    margin-left: 35px;
    height: 259px;
    width: 277px;
    background-color: #F9F7F7;
}


.holder-description-hotel-Spain h3{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-weight: 700;
}

.holder-background-color{
    background-color: #F9F7F7;
    width: 554px;
    height: 418px;
}

.holder-title{
    text-align: right;
    padding-top: 12px;
    padding-right: 13px;
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-weight: 700;
}

.holder-text{
    text-align: right;
    padding-right: 13px;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    font-weight: 600;
    padding-left: 13px;
}

.holder-description-blocks-Maldives{
    margin-left: 43px;
}

.holder-description-blocks-Britain{
    margin-left: 43px;
}

.holder-description-hotel-Ireland{
    height: 259px;
    width: 277px;
    background-color: #F9F7F7;
}

.holder-description-hotel-Ireland h3{
text-align: center;
    padding-top: 10px;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-weight: 700;
}

.holder-description-Spain{
    margin-left: 43px;
}

.holder-description-Spain {display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Spain-photo content-Spain";
  }
  .Spain-photo { grid-area: Spain-photo; }
  .content-Spain { grid-area: content-Spain; }

  .content-Spain{
    background-color: #F9F7F7;
    height: 259px;
}

.content-Spain h3{
    color: #353A3D;
    padding-top: 41px;
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    text-align: right;
    padding-right: 23px;
}

.content-Spain p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    padding-right: 23px;
    color: #5B6469;
    text-align: right;
    padding-left: 13px;
}

.All-Rights{
    margin-top: 77px;
    height: 80px;
    background-color:  #000000;
}

.All-Rights p{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 400;
    padding-left: 367px;
    padding-top: 35px;
}

/* Подвал */

.All-Rights{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
  "footer-text footer-svg";
}
.footer-svg { grid-area: footer-svg; }
.footer-text { grid-area: footer-text; }

.footer-svg{
    padding-left: 470px;
    padding-top: 29px;
}